In [2]:
# pip install pandas
# pip install numpy

In [3]:
import pandas as pd
import numpy as np

In [13]:
marks = pd.Series([60,69,90,78,70,69,60,70,88,80,70,np.nan])
marks

0     60.0
1     69.0
2     90.0
3     78.0
4     70.0
5     69.0
6     60.0
7     70.0
8     88.0
9     80.0
10    70.0
11     NaN
dtype: float64

In [19]:
#len(objects) it also give the length of our objects
len(marks)

12

In [20]:
marks.shape

(12,)

In [21]:
marks.size

12

In [22]:
# get size of series without nan values
marks.count()

11

In [24]:
# For check only Unique objects
# gives floating value
marks.unique()

array([60., 69., 90., 78., 70., 88., 80., nan])

In [26]:
# Check repeating objects , How many times?
marks.value_counts()

70.0    3
69.0    2
60.0    2
80.0    1
88.0    1
78.0    1
90.0    1
dtype: int64