In [4]:
import pandas as pd
import numpy as np

In [7]:
marks = pd.Series([77,78,78,98,67,87,98,86,86,90,97,99,86,87,69,98,np.nan])
marks
# in jupyter to get objects from upper cell u must run upper cell

0     77.0
1     78.0
2     78.0
3     98.0
4     67.0
5     87.0
6     98.0
7     86.0
8     86.0
9     90.0
10    97.0
11    99.0
12    86.0
13    87.0
14    69.0
15    98.0
16     NaN
dtype: float64

In [28]:
# Give index on data
# for index no. value = name of index
marks = pd.Series([77,78,78,98,67,87,98,86,86,90,92,90,86,87,98,98,91,np.nan]
                  , index = ['Hinata', 'Sakura', 'Tenten', 'Tsunade', 'Mirui',
                             'Sishui', 'Madara', 'Tobirama', 'Hiruzen',
                           'Nagato', 'Hasirama', 'Jiriya', 'Itachi',
                            'Kushina', 'Sasuke', 'Naruto', 'Obito', 'Masashi'])
marks

Hinata      77.0
Sakura      78.0
Tenten      78.0
Tsunade     98.0
Mirui       67.0
Sishui      87.0
Madara      98.0
Tobirama    86.0
Hiruzen     86.0
Nagato      90.0
Hasirama    92.0
Jiriya      90.0
Itachi      86.0
Kushina     87.0
Sasuke      98.0
Naruto      98.0
Obito       91.0
Masashi      NaN
dtype: float64

In [29]:
# Access index only 
marks.index

Index(['Hinata', 'Sakura', 'Tenten', 'Tsunade', 'Mirui', 'Sishui', 'Madara',
       'Tobirama', 'Hiruzen', 'Nagato', 'Hasirama', 'Jiriya', 'Itachi',
       'Kushina', 'Sasuke', 'Naruto', 'Obito', 'Masashi'],
      dtype='object')

In [30]:
# Access the values
# in array forms
marks.values

array([77., 78., 78., 98., 67., 87., 98., 86., 86., 90., 92., 90., 86.,
       87., 98., 98., 91., nan])

In [31]:
# Salice head rows
# head() with out value gives upper five series only
marks.head()

Hinata     77.0
Sakura     78.0
Tenten     78.0
Tsunade    98.0
Mirui      67.0
dtype: float64

In [32]:
# Salice specifics rows
# First 2 rows
 marks.head(2)
# or we can also do
# ..... marks.head(n=2)

Hinata    77.0
Sakura    78.0
dtype: float64

In [33]:
# Salice tail rows
marks.tail()

Kushina    87.0
Sasuke     98.0
Naruto     98.0
Obito      91.0
Masashi     NaN
dtype: float64

In [34]:
# get specific index value
marks['Sasuke']

98.0

In [39]:
# Multiple index value in series form
marks[['Hinata', 'Naruto']]

Hinata    77.0
Naruto    98.0
dtype: float64

In [38]:
# Also
marks[[0,15]]

Hinata    77.0
Naruto    98.0
dtype: float64

In [43]:
# We can also did for this
marks.take([0,1,14,15])

Hinata    77.0
Sakura    78.0
Sasuke    98.0
Naruto    98.0
dtype: float64