In [1]:
import pandas as pd

In [2]:
# Simple Arithematic operation without index series

series1 = pd.Series([40, 50, 60, 70])

series2 = pd.Series([50, 60, 70, 80])

In [3]:
sum1 = series1+series2
sum1

0     90
1    110
2    130
3    150
dtype: int64

In [4]:
sum1-series2

0    40
1    50
2    60
3    70
dtype: int64

In [9]:
var1 = pd.Series([40, 50, 60, 70], index= ['a', 'b', 'c', 'd'])

var2 = pd.Series([50, 60, 70, 80], index= ['d', 'c', 'a', 'a'])

In [10]:
var1+var2

a    110.0
a    120.0
b      NaN
c    120.0
d    120.0
dtype: float64

In [11]:
# is index is not in serie
var3 = pd.Series([50, 60, 70, 80], index= ['d', 'c', 'a', 's'])
var1+var3

a    110.0
b      NaN
c    120.0
d    120.0
s      NaN
dtype: float64

In [12]:
var3*3

d    150
c    180
a    210
s    240
dtype: int64